  .container {
    background-color: rgb(255, 255, 255);
    max-width: 960px;
  }
  main {
    min-height: calc(100vh - 215px);
  }

  .cont {
    overflow: auto;
    height: 200px;
  }
  #item{
    background-color: rgb(255, 255, 255);
  }

  #agregar{
    color: white;
    border-radius: 50px;
  }
  #agregar:active{
    background-color: rgb(0, 0, 85);
    transform: translateY(2px);
  }

  #limpiar{
    border-radius: 50px;
  }